* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

:root {
    --main-color: #480212;
    --text-color: #920e2d;
    
    --title-font: "Oxanium", Helvetica, Arial, sans-serif;
    --body-font: "Manrope", Helvetica, Arial, sans-serif;
    --border-default: solid 1px rgba(30, 30, 30, 1);
    --bg-color-even: #E8E8E8;
    --bg-color-odd: #F4F4F4;
    --bg-dark-1: #1E1F22;
    --bg-dark-1-rgb: 30, 31, 34;
    --bg-dark-2: #252629;
    --bg-dark-3: #303030;
    --body-font-color: #757575;  
    --dark-body-font-color: #ADB7BE;
    --primary-color: #a33705;
    --primary-color-rgb: 86, 35, 216;
    --secondary-color: #9b1500;
    --secondary-color-rgb: 106, 121, 250;
    --tertiary-color: #e615af;
    --tertiary-color-rgb: rgba(230, 21, 175, 1.0);
    
}
/* Flex class */

/* ================================================== */

.flex {
    display: flex;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.flex-sb {
    justify-content: space-between;
}

.gap-1 {
    gap: 1rem;
}

.gap-15 {
    gap: 1.5rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}


/* ================================================== */

/* Margin */

/* ================================================== */

.m-auto {
    margin: auto;
}

.mtb-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-15 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-25 {
    margin-top: 2.5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-15 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.mb-3 {
    margin-bottom: 3rem;
}


/* ================================================== */

/* Custom */

/* ================================================== */

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 15px;
}

.w-33 {
    width: 33.333333%;
}

.w-50 {
    width: 50%;
}
.w-66{
    width: 66.66666%;
}
.w-100 {
    width: 100%;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-gradient {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ================================================== */

/* Position */

/* ================================================== */

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* ================================================== */

/* body */

/* ================================================== */

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: var(--bg-dark-1);
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 500;
    color: var(--body-font-color);
    padding: 0;
    line-height: 1.8em;
    word-spacing: 0px;
    letter-spacing: -0.2px;
}

.dark-scheme {
    color: var(--dark-body-font-color);
}

body.dark-scheme {
    /* background: var(--bg-dark-1); */
}

body.boxed {
    margin: 30px;
    overflow: hidden;
    border: solid 1px #eee;
}

body .owl-stage .owl-item {
    margin-bottom: 15px;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.de-navbar-left #wrapper {
    overflow: visible;
}

a,
a:hover {
    text-decoration: none;
}

a.a-underline {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

a.a-underline span {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px #333;
    width: 0;
}

a.a-underline:hover span {
    width: 100%;
}

/*  */