/* responsive code */
@media only screen and (max-width: 1130px) {
    .logo_main {
        display: none;
    }

    .logo_mobile {
        display: block;
        height: 100px;
    }

    .header_menu {
        position: absolute;
        left: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        top: 0;
        left: -250px;
        background-color: #252629;
        padding: 30px;
        width: 250px;
        height: 100vh;
        transition: left 0.3s ease;
    }

    header.sticky .header_menu {
        transition: left 0.3s ease;
    }

    header ul li::before {
        display: none;
    }

    .menu_side_area {
        margin-right: 15px;
    }

    .menu_side_area a {
        margin-right: 20px;
    }

    .menu_side_area i {
        display: block;
        font-size: 22px;
    }
}


@media only screen and (max-width: 550px) {
    header.transparent {
        padding: 30px 10px;
    }

    header .btn{
        display: none;
    }
    .hsc{
        display: none;
    }

    header.sticky {
        padding: 10px 0;
    }

    .swiper-slide {
        height: 70vh;
    }

    .con_data h1 {
        font-size: 35px;
    }

    .d-val {
        font-size: 35px;
    }

    .slider_text {
        max-width: 400px;
        min-width: 400px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .p_de_cont {
        flex-wrap: wrap;
        gap: 2rem;
        text-align: center;
    }

    /*  */
    .game_bg {
        padding: 40px;
    }

    .game_bg h2 {
        font-size: 35px;
    }

    .game_bg .w-50 {
        width: 100% !important;
    }

    .game_bg img {
        display: none;
    }

    /*  */
    .s-locations .flex {
        flex-wrap: wrap !important;
    }

    .s-locations .w-50 {
        width: 100% !important;
    }

    .s-locations h2 {
        font-size: 35px;
    }


    /*  */
    .game-cards .flex-sb:first-child {
        flex-direction: column;
        align-items: flex-start;
    }

    .game-cards .flex-sb h2 {
        font-size: 40px;
    }

    .game-cards .flex-sb div:nth-child(2) {
        margin-top: 1rem;
    }

    .gallery-item {
        width: 100%;
    }

    /*  */
    #accordionContainer {
        flex-direction: column;
        gap: 0;
    }

    #accordionContainer .w-50 {
        width: 100%;
    }

    .accordion-section-title {
        height: auto;
    }

    /*  */
    .dw-img {
        display: none;
    }

    .donwloadbg {
        padding: 40px;
    }

    .donwloadbg .w-50 {
        width: 100%;
    }

    .donwloadbg h2 {
        font-size: 35px;
    }

    /*  */

    .paymentmethods .flex-sb {
        flex-direction: column;
        align-items: flex-start;
    }

    .paymentmethods .gap-15 {
        flex-wrap: wrap;
        margin-top: 1rem;
        justify-content: center;
    }

    .py-img {
        width: 29%;
    }

    .img-fluid {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* footer */

    footer .flex-left {
        flex-direction: column;
    }

    footer .w-33,
    footer .w-66,
    footer .w-50 {
        width: 100% !important;
    }

    .subfooter .flex {
        flex-direction: column;
    }
}